.app-container {
  min-height: 100vh;
  background: #f0f0f0;
}

.auth-bg {
  background: linear-gradient(135deg, #6dab1072, #54bf7f4e);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-wrapper {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
}

